Base="http://wochenprogramm.mathematik.uni-freiburg.de/";
Programmname="";
Email="sysadm@email.mathematik.uni-freiburg.de";
InstitutURL="http://www.math.uni-freiburg.de/";
Startseite="index.html";
_HTDocsPfad="/webserver/wochenprogramm/templates/";
_TxtDocsPfad="/var/lib/wochenprogramm/";
Logdatei="/var/log/wochenprogramm/wochenprogramm.log";
Logvars="_Jetzt""_REMOTE_HOST""_REMOTE_ADDR""_QUERY_STRING";
_Hosts="mathematik.uni-freiburg.de";
_KollHosts="host1.mathematik.privat""host2.mathematik.uni-freiburg.de";
KTStunde="16";
KTMinute="30";
KStunde="17";
KMinute="00";
KEStunde="18";
KEMinute="00";
KWochentag="4";
KOrt="Hörsaal II, Albertstr. 23b";
KTOrt="Sozialraum 331 in der Ernst-Zermelo-Straße 1";
Orte="Hörsaal II, Albertstr. 23b""Hörsaal Rundbau, Albertstr. 21a""Hörsaal Virologie, Hermann-Herder-Straße 11""Hörsaal 2, Physik Hochhaus, Hermann-Herder-Straße 3""Raum 201, Hermann-Herder-Str. 10""Raum 226, Hermann-Herder-Str. 10""Seminarraum 2.OG, Friedrichstr. 50""Raum 125, Ernst-Zermelo-Str. 1""Raum 127, Ernst-Zermelo-Str. 1""Raum 218, Ernst-Zermelo-Str. 1""Raum 227, Ernst-Zermelo-Str. 1""Raum 318, Ernst-Zermelo-Str. 1""Raum 403, Ernst-Zermelo-Str. 1""Raum 404, Ernst-Zermelo-Str. 1""Raum 414, Ernst-Zermelo-Str. 1""Ort noch nicht bekannt";
LetztesSemester="SS2024";
AktuellesSemester="WS2024-2025";
KommendesSemester="SS2025";
AlteSemester="SS2006""WS2006-2007""SS2007""WS2007-2008""SS2008""WS2008-2009""SS2009""WS2009-2010""SS2010""WS2010-2011""SS2011""WS2011-2012""SS2012""WS2012-2013""SS2013""WS2013-2014""SS2014""WS2014-2015""SS2015""WS2015-2016""SS2016""WS2016-2017""SS2017""WS2017-2018""SS2018""WS2018-2019""SS2019""WS2019-2020""SS2020""WS2020-2021""SS2021""WS2021-2022""WS2022-2023""SS2023""WS2023-2024""SS2024";
